{% extends 'base.html.twig' %}

{% block title %}Password Recovery{% endblock %}

{% block body %}
    <div class="w-100 d-flex justify-content-center align-items-center vh-100">
        <div class="card text-center bg-light-subtle" style="width: 600px;">
            <div class="card-header h5 text-white bg-primary">Password Reset</div>
            <div class="card-body px-5">
                <p class="card-text py-2">
                    Enter your email address and we'll send you an email with instructions to reset your password.
                </p>
                <div class="form-floating form-outline my-3">
                    <input type="email" id="email" class="form-control" placeholder="Email" />
                    <label for="email">Email</label>
                </div>
                <div id="error" class="alert alert-danger" style="display:none;">Error</div>
                <button class="btn btn-primary w-100" onclick="sendPasswordRecoveryRequest()">Reset password</button>
                <div class="d-flex justify-content-between mt-4">
                    {#                <a class="" href="#">Login</a> #}
                    {#                <a class="" href="#">Register</a> #}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}

{{ parent() }}

<script>
function sendPasswordRecoveryRequest() {
  const xhr = new XMLHttpRequest()
  const url = "{{ path('api_v1_reset_password_request') }}"
  const formData = JSON.stringify({
    email: document.getElementById('email').value,
  })
  const errorDiv = document.getElementById('error')

  errorDiv.innerHtml = ''
  errorDiv.style.display = 'none'

  xhr.open('POST', url, true)
  xhr.setRequestHeader('Content-Type', 'application/json')

  xhr.onreadystatechange = function() {
    if (xhr.readyState === 4) {
      if (xhr.status < 400) {
        window.location.href = "{{ path('web_reset_password_check_email') }}"
      } else {
        errorDiv.innerHTML = 'An error occurred! Please try again.'
        errorDiv.style.display = 'block'
      }
    }
  }

  xhr.send(formData)
}
</script>
{% endblock %}