{% extends 'base.html.twig' %}

{% block title %}Password Recovery{% endblock %}

{% block body %}
    <div class="w-100 d-flex justify-content-center align-items-center vh-100">
        <div class="card text-center bg-light-subtle" style="width: 600px;">
            <div class="card-header h5 text-white bg-primary">Success!</div>
            <div class="card-body px-5">
                <p class="card-text py-2">
                    Your password has been successfully changed.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
